img{
    border-radius: 20%;
    weidth: 160px;
    height: 100px;
}

.image-box {
    display: flex;
    justify-content: left;
}

h1 {
    display: flex;
    justify-content: center;
    color:floralwhite;
    background-color:black;
}

h2 {
    font-size: 20pt;
    display: flex;
    justify-content: center;
    color:floralwhite;
    background-color:black;
}


body{
    background-color:white;

}