
.image-box {
    display: flex;
    justify-content: left;
}

h1 {
    display: flex;
    justify-content: center;
    color:floralwhite;
    background-color:black;
}

h2 {
    font-size: 20pt;
    display: flex;
    justify-content: center;
    color:floralwhite;
    background-color:black;
}

.circuito {
    font-size: 15pt;
    justify-content: center;
    color:rgb(0, 0, 0);
    background-color:rgb(154, 170, 238);
    
}

.mostre {
    font-size: 15pt;
    justify-content: center;
    color:rgb(0, 0, 0);
    background-color:rgb(154, 170, 238);
    
}

.ferrari {
    font-size: 15pt;
    justify-content: center;
    color:rgb(0, 0, 0);
    background-color:rgb(154, 170, 238);
    
}

.porsche {
    font-size: 15pt;
    justify-content: center;
    color:rgb(0, 0, 0);
    background-color:rgb(154, 170, 238);
    
}

.lamborghini {
    font-size: 15pt;
    justify-content: center;
    color:rgb(0, 0, 0);
    background-color:rgb(154, 170, 238);
    
}

body{
    background-color:white;

}