img{
    border-radius: 20%;
    weidth: 160px;
    height: 100px;
}

.image-box {
    display: flex;
    justify-content: left;
}

h1 {
    display: flex;
    justify-content: center;
    color:floralwhite;
    background-color:black;
}

h2 {
    font-size: 20pt;
    display: flex;
    justify-content: center;
    color:floralwhite;
    background-color:black;
}

.location {
    font-size: 15pt;
    color:rgb(0, 0, 0);
    background-color:rgba(255, 0, 21, 0.158);
}


body{
    background-color:white;

}